// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #222;
$hover-color: rgba(255, 255, 255, 0.1);

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-tasks {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .body {
    text-align: center;
    font-size: 25px;
  }

  li {
    background-color: $background-color;
    padding-left: 5px;
    padding-top:  2px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 15px;
    &:hover {
      background-color: $hover-color;
    }
  }

  .updated-at {
    color: $title-color;
  }

  h1.title {
    margin-top: -50px;
    font-size: 70px;
  }
}
