<% content_for :title do %>Smart Home<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="clock" ></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="temp" data-view="Text" data-title="Weather" style="background-color:#0066FF;"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="usd_cur" data-view="Text" data-title="Dollar US" data-prefix="$"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="eur_cur" data-view="Text" data-title="Euro" data-prefix="$"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mqtt_widget" data-view="Text" data-title="MQTT"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="calendar_events" data-pre="0" data-view="Calendar"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="traffic" data-view="Text" data-title="Traffic"></div>
    </li>
  </ul>
</div>
