// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;


$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-currency {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .updated-at {
    color: $title-color;
  }

  .sign {
    color: white;
    font-size: 60px;
  }

  .cur {
    font-size: 55px;
    font-weight: bold;
  }

  h1.title {
    font-size: 70px;
  }
}
